body{
    background-color: #fdfdfe;
    margin: 0;
    padding: 0;
}

.jumbotron{
    background: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    margin-bottom: 20px;
}

h5{ 
    color: #ecf0f1;
    margin-bottom: 40px;
} 

#content{
    text-align: center;
   
}


.start_station{
    text-align: center;
}

.modal-header{
    background-color: #007bff;
    color: #ecf0f1;
    text-align: center;
}

.modal-body{
    margin: auto;
    text-align: center;
}

.modal-body form inpu{
    text-align: center;
}

.table{
    font-size: 12px;
}

.table thead th{
    color: #007bff;
    text-align: center;
    font-size: 14px;
}

.table tbody td{
  text-align: center;  
}

.table tbody td:nth-child(3){
    font-size: 16px;
    
}

.sobreCupo{ background: #b71c1c; color: #333; }
.cupoAlto{ background: #d35400; color: #333; }
.cupoBajo{ background: #FFEB3B; color: #333; }

